body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #22221e3e;
  text-align: center;
  color: #451818;
}
.about-me{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    height: 50vh;
    width: 76%;
    margin: 0 auto;
    border-radius: 10px;
}
.home-button {
    height: 50px;
    width: 76px;
    text-align: center;
    margin: 0 auto;
   margin-top: 20px;
    padding: 10px 10px 10px 10px;
    height: 30px;
    background-color: #0c0c02;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.home-button:hover {
    background-color: #d80b0b;
}
body{
    opacity:0;
    transform:scale(.95);
    animation:zoomIn .6s forwards;
}

body.fade-out{
    opacity:0;
    transform:scale(1.05);
    transition:.5s;
}

@keyframes zoomIn{
    from{
        opacity:0;
        transform:scale(.95);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}